{% extends 'main.html' %}

{% block content %}
<style>
    .form-container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-container h1 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

    .form-container label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        color: #555;
    }

    .form-container input, .form-container select {
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
    }

    .form-container button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #009879;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    .form-container button:hover {
        background-color: #00785c;
    }

    .form-container a {
        display: block;
        margin-top: 15px;
        text-align: center;
        color: #009879;
        text-decoration: none;
    }

    .form-container a:hover {
        text-decoration: underline;
    }
</style>

<div class="form-container">
    <h1>Cadastrar Novo Consumidor</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cadastrar</button>
    </form>
    <a href="{% url 'consumer_list' %}">Voltar para a lista de consumidores</a>
</div>

<!-- Script para preencher cidade e estado automaticamente -->
<script>
  document.getElementById('id_zip_code').addEventListener('blur', function() {
    var cep = this.value.replace(/\D/g, '');  // Remove caracteres não numéricos

    if (cep.length === 8) {  // O CEP deve ter 8 dígitos
      fetch(`https://viacep.com.br/ws/${cep}/json/`)
        .then(response => response.json())
        .then(data => {
          if (!data.erro) {
            // Preenche os campos de cidade e estado automaticamente
            document.getElementById('id_city').value = data.localidade;
            document.getElementById('id_state').value = data.uf;
          } else {
            alert('CEP não encontrado.');
          }
        })
        .catch(error => console.error('Erro na consulta do CEP:', error));
    }
  });
</script>
{% endblock %}
