.form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-dark);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
}

.form-container input, .form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #00785c;
}

.form-container a {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #009879;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}